---
import { getButtonClass } from "../components/Button/getButtonClass";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - SITE TITLE">
	<div class="flex items-center justify-center">
		<div class="text-center pt-48">
			<h1 class="text-5xl font-bold mb-4">404</h1>
			<p class="text-xl mb-4">Oops! Page not found</p>
			<a href="/" class={getButtonClass({ variant: "solid" })}> Return Home </a>
		</div>
	</div>
</Layout>
