---
import { getButtonClass } from "../components/Button/getButtonClass";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Offline - SITE TITLE">
	<div class="flex items-center justify-center">
		<div class="text-center pt-48">
			<h1 class="text-5xl font-bold mb-4">No internet</h1>
			<p class="text-xl mb-4">Uh-Oh! You don't have access to the internet</p>
			<a href="/" class={getButtonClass({ variant: "solid" })}> Return Home </a>
		</div>
	</div>
</Layout>
